<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>    
    
     <!--<add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9I6HAN5\SQL08LAP;initial catalog=qlkdtrnoidia;user id=admin;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-9I6HAN5\SQL08LAP;Initial Catalog=qlkdtrnoidia;Integrated Security=False;User Id=admin;Password=123456;MultipleActiveResultSets=True" />-->
    
     <!--<add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MH0IAG4\STO2008SQL;initial catalog=qlkdtrnoidia;integrated security=False;user id=admin;password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-MH0IAG4\STO2008SQL;Initial Catalog=qlkdtrnoidia;Integrated Security=False;User Id=admin;Password=123456;MultipleActiveResultSets=True" />-->
   
 
    <!--<add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NJ83N7U\SQL2008H;initial catalog=qlkdtrnoidia;user id=admin;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-NJ83N7U\SQL2008H;Initial Catalog=qlkdtrnoidia;Integrated Security=False;User Id=admin;Password=123456;MultipleActiveResultSets=True" />-->

       <!--<add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.68.170.128;initial catalog=qlkdtrnoidia;user id=quangtrung;password=trung@2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=118.68.170.128;Initial Catalog=qlkdtrnoidia;Integrated Security=False;User Id=quangtrung;Password=trung@2019;MultipleActiveResultSets=True" />-->


    <!--<add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.68.170.128;initial catalog=qlkdtrnoidia;user id=quangtrung;password=trung@2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=118.68.170.128;Initial Catalog=qlkdtrnoidia;Integrated Security=False;User Id=quangtrung;Password=trung@2019;MultipleActiveResultSets=True" />-->

    <add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;Failover Partner=.;initial catalog=qlkdtrnoidia;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=.;Failover Partner=.;Initial Catalog=qlkdtrnoidia;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />

    
  </connectionStrings>
  <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <!--<add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
      
      <add key="UploadPath" value="~/DMFileUpload/thanhlyhd/" />
      <add key="DVUploadPath" value="~/DMFileUpload/dichvu/" />
      <add key="ViewUploadPath" value="DMFileUpload/thanhlyhd/" />
      <add key="ViewDVUploadPath" value="DMFileUpload/dichvu/" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />

    <add key="AllowUploadFile" value=".doc;.docx;.pdf;.xls;.xlsx" />
    <add key="AllowExtDisplay" value=".doc;.docx;.pdf;.xls;.xlsx" />
    
    <add key="FTP_PATH" value="ftp://113.161.66.199:4100/" />
    <add key="FTP_USR" value="administrator" />
    <add key="FTP_PASS" value="tigersts@2017@@" />

    <add key="DICHVU_FTP_PATH" value="QLKD/DICHVUND/" />
    <add key="THANHLY_FTP_PATH" value="QLKD/THANHLYND/" />
    <add key="CTTOUR_FTP_PATH" value="QLKD/CTTOURND/" />

    <add key="DSKHACH_FTP_PATH" value="QLKD/DSKHACHND/" />
    <add key="ROOMINGLIST_FTP_PATH" value="QLKD/ROOMINGLISTND/" />
    <add key="VEMAYBAY_FTP_PATH" value="QLKD/VEMAYBAYND/" />
    
    
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <!--timeout="30" (30 = minutes)-->
    <sessionState cookieless="false" timeout="30" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <!--<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /><add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /><add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /><add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></assemblies>
    </compilation>
    <!--IIS 7 below 4096KB= 4MB   chi cho upload file 10MB = 10240000-->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="102400000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <httpHandlers><!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>--><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></httpHandlers></system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!--IIS 7+ 4096KB= 4MB 10MB = 102400000-->
        <requestLimits maxAllowedContentLength="102400000" />
        <!--52428800 bytes = 50MB   10GB=10.737.418.240-->
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
    <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
    <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
 </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>